ul {
    list-style-type: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

ul li a {
    font-size: clamp(5px, 1.7vw, 40px);
    text-decoration: none;
    color: black;
}

.TextScale {
    transition: font-size 0.3s ease;
}

.TextScale:hover {
    font-size: clamp(5px, 2vw, 40px);
    color: red;
}

.sidebarScale {
    background-color: aquamarine;
    transition: transform 0.2s ease;
}

.sidebarScale:hover {
    transform: scale(1.2);
}